[workspace]
members = [
  "cbt",
  "mlambda",
  "mmigration",
  "pg-client",
  "pg-ephemeral",
  "stack-deploy",
  "stratosphere",
  "stratosphere-core",
  "stratosphere-generator",
]

resolver = "3"

[workspace.package]
edition = "2024"

[workspace.dependencies]
cbt = { path = "cbt" }
clap = { version = "4.5", features = ["derive"] }
env_logger = "0.11"
http = "1.3"
log = "0.4"
mmigration = { path = "mmigration" }
pg-client = { path = "pg-client" }
pretty_assertions = "1.4"
rand = "0.9"
regex-lite = "0.1.6"
reqwest = { version = "0.12", features = ["json", "rustls-tls"], default-features = false }
serde = { version = "1.0", features = ["derive"] }
serde_json = { version = "1.0", features = ["arbitrary_precision", "indexmap"] }
sha2 = "0.10"
sqlx = { git = "https://github.com/mbj/sqlx", rev = "f795fe994a6973ebe872c8c619706a4244c65d54", features = ["postgres", "runtime-tokio", "tls-rustls"] }
stratosphere = { path = "./stratosphere" }
thiserror = "2"
tokio = "1"
