[package]
name = "cbt"
version = "0.0.1"
edition.workspace = true

[dependencies]
clap = { workspace = true }
log = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
